/* components/NewsFeed.module.css */
.newsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 왼쪽 정렬 */
    background-color: #fff; /* 하얀 배경 */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    border-radius: 8px; /* 둥근 모서리 */
  }
  